awswrangler==3.11.0 ; python_version >= "3.12" and python_version < "4.0"
beautifulsoup4==4.12.3 ; python_version >= "3.12"
boto3==1.35.97 ; python_version >= "3.12"
botocore==1.35.97 ; python_version >= "3.12"
certifi==2024.12.14 ; python_version >= "3.12"
cffi==1.17.1 ; python_version >= "3.12"
charset-normalizer==3.4.1 ; python_version >= "3.12"
curl-cffi==0.10.0 ; python_version >= "3.12"
frozendict==2.4.6 ; python_version >= "3.12"
idna==3.10 ; python_version >= "3.12"
jmespath==1.0.1 ; python_version >= "3.12"
multitasking==0.0.11 ; python_version >= "3.12"
numpy==2.2.1 ; python_version >= "3.12"
packaging==24.2 ; python_version >= "3.12" and python_version < "4.0"
pandas==2.2.3 ; python_version >= "3.12"
peewee==3.17.8 ; python_version >= "3.12"
platformdirs==4.3.6 ; python_version >= "3.12"
protobuf==5.29.4 ; python_version >= "3.12"
pyarrow==18.1.0 ; python_version >= "3.12" and python_version < "4.0"
pycparser==2.22 ; python_version >= "3.12"
python-dateutil==2.9.0.post0 ; python_version >= "3.12"
pytz==2024.2 ; python_version >= "3.12"
requests==2.32.4 ; python_version >= "3.12"
s3transfer==0.10.4 ; python_version >= "3.12"
setuptools==75.7.0 ; python_version >= "3.12" and python_version < "4.0"
six==1.17.0 ; python_version >= "3.12"
soupsieve==2.6 ; python_version >= "3.12"
typing-extensions==4.12.2 ; python_version >= "3.12" and python_version < "4.0"
tzdata==2024.2 ; python_version >= "3.12"
urllib3==2.3.0 ; python_version >= "3.12"
websockets==15.0.1 ; python_version >= "3.12"
yfinance==0.2.63 ; python_version >= "3.12"
